.custom-tabs-container {
    width: 85%;
    
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #ffffff;
    padding: 0px 0px;
    border-bottom: 1px solid transparent;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #bf5700;
    padding: 4px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-top: 3px solid #bf5700 !important;
    
}